body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    margin: 0;
}
header {
    padding: 20px;
    text-align: center;
    background: #1f1f1f;
}
h1 span { color: #ff9f00; } /* Movie Box Theme */
#search {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}
.movie img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.movie img:hover { transform: scale(1.05); }

/* Player Modal */
.modal { display: none; position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; background: black; }
.modal-content { position: relative; width: 100%; height: 100%; }
iframe { width: 100%; height: 100%; }
.close { position: absolute; top: 20px; right: 30px; font-size: 40px; cursor: pointer; color: white; z-index: 101; }
